:host-context(body){
    color:black;
    text-align: center;
    
}
/* #bg {
  background: url(/assets/img/header1.jpg);
  position: fixed; 
  top: 0; 
  left: 0; 
	

  min-width: 100%;
  min-height: 100%;
} */